HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!src/main/**/target/
!src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!src/main/**/build/
!src/test/**/build/


.frontend

### VS Code ###
.vscode/

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# ignora tudo dentro de frontend
frontend/*

# libera o caminho até forms
!frontend/healthsync/
!frontend/healthsync/src/
!frontend/healthsync/src/components/
!frontend/healthsync/src/components/forms/

# libera tudo dentro de forms
!frontend/healthsync/src/components/forms/**
.env
.env.local

docs/